{% extends "base.html" %}

{% block title %}Registrar Compras{% endblock %}

{% block content %}
<div class="content-container">
    <h1 class="comic-sans-text">Registrar Compra</h1>

    <form action="{{ url_for('compra.registrar') }}" method="POST">

        <div class="form-group">
            <label for="" class="form-label comic-sans-text">Cliente</label>
            <select name="cliente_id" class="form-control" id="" required>
                <option value="">Seleccione un cliente</option>
                {% for cliente in clientes %}
                    {% if cliente.estado == 'Activo' %}
                        <option value="{{cliente.id_cli}}">{{cliente.nombre_completo}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            

        </div>
        <div class="form-group">
            <label for="" class="form-label comic-sans-text">Producto</label>
            <select name="producto_id" class="form-control" id="" required>
                <option value="">Seleccione un producto</option>
                {% for producto in productos %}
                    {% if producto.disponibilidad == 'Disponible' %}
                        <option value="{{producto.id_pro}}">{{producto.nombre}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="" class="form-label comic-sans-text">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" required>

        </div>
        <div class="form-group">
            <label for="" class="form-label comic-sans-text">Fecha</label>
            <input type="date" class="form-control" name="fecha" required>

        </div>
        <button type="submit" class="btn btn-blue comic-sans-text">Guardar Compra</button>
        <a href="{{ url_for('compra.index') }}" class="btn btn-danger comic-sans-text">Cancelar</a>
    </form>
</div>
{% endblock %}