{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2 class="comic-sans-text">Iniciar sesión</h2>

        <!-- Formulario de inicio de sesión -->
        <form method="POST">
            <div class="mb-3">
                <label for="" class="form-label comic-sans-text">Nombre de usuario</label>
                <input type="text" class="form-control" id="" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label comic-sans-text">Contraseña</label>
                <input type="password" class="form-control" id="" name="contrasena" required>
            </div>
            <button type="submit" class="btn btn-primary comic-sans-text">Iniciar sesión</button>
            <a href="/" class="btn btn-danger comic-sans-text">Cancelar</a>
        </form>
    </div>

</div>
{% endblock %}
